.common-input {
    width: 350px;
    height: 40px;
    margin: 15px;
    background: #FFFFFF;
    border: 2px solid #878A86;
    box-sizing: border-box;
    padding: 10px 5px 10px 20px;
    border-radius: 20px;
    /* Text */
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 140.62%;
    color: #878A86;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.proceed-button, .info-button {
    padding: 10px;
    margin: 15px;
    background: #C5EDAC;
    border-radius: 20px;
    font-size: 30px;
    color: #444BCF;
    border: none;
    font-family: sans-serif;
    width: fit-content;
}

.info-button {
    background-color: #FFFFFF;
    border: 3px solid #C4C4C4;
}

.info-button:focus, .info-button:hover {
    outline: none;
    background: #D5896F;
    color: #FFFFFF;
}

.proceed-button:hover {
    background-color: #57963E;
    color: #45A7D1
}

.proceed-button:active {
    background-color: #57963E;
    color: #45A7D1
}

.proceed-button:focus{
    outline: none;
}

.common-image {
    background-color: #488286;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}