.order__background {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    background: #D7DEE5;
    margin: 0;
    padding: 0;
}

.order-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.order,
.order-total {
    display: flex;
    background: #FFFFFF;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
}

.order__header {
    font-size: 50px;
    margin: 15px;
}

.order__input {
    margin: 15px;
}

.order__input p {
    font-size: 20px;
    color: #878A86;
    margin: 0px 15px 0px 15px;
}

.order-total {
    align-content: start;
    height: fit-content;
}
.order-list__item {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 5px;
    justify-content: space-between;
}
.order-total__header {
    font-size: 35px;
    margin: 35px 20px 20px 20px;
}

.order-total__store-name {
    margin: 20px 20px 20px 20px;
    font-size: 25px;
}
.order-list-item__name,
.order-list-item__amount,
.order-list-item__sum {
    margin: 0px 20px 0px 20px;
    font-size: 20px;
    color: #878A86;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 90px;
}

.order-total__sum {
    margin: 20px;
    white-space: nowrap;
    font-size: 30px;
}

.order__payment {
    display: flex;
    flex-direction: row;
}
.payment-button {
    padding: 10px;
    margin: 10px;
    background: #FFFFFF;
    border-radius: 20px;
    font-size: 25px;
    color: #000000;
    border: none;
    font-family: sans-serif;
    width: fit-content;
}

.payment-button:hover {
    background-color: #C4C4C4;
    color: #FFFFFF
}

.payment-button:active {
    background-color: #C4C4C4;
    color: #FFFFFF
}

.payment-button:focus{
    outline: none;
    background-color: #C4C4C4;
}
