.regestration-page__background {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #0A3200 0%, #35695C 50.18%, #488286 100%), #FFFFFF;
}

.regestration-page__input-block {
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 20px;
}