<div class="login-page__background">
    <div class="login-page__input-block">
        <img class="welcome-logo" src="/img/big_logo.png"></img>
        <div class="js-login-errors text-error"></div>
        <input type="text" class="login-input common-input js-input-login" placeholder="Логин:"></input>
        <div class="js-password-errors text-error"></div>
        <input type="password" class="common-input login-input
        js-input-password" placeholder="Пароль:"></input>
        <button class="proceed-button margin-button js-submit-login">Войти</button>
        <button class="js-reg-button  margin-button link info-button">Зарегистрироваться</button>
    </div>
</div>