<header class="header">
    <button class="js-goto-searchpage header__logo"></button>
    <div class="header__buttons">
        <button class="header__button js-login-button">Войти</button>
    </div>
</header>