<div class="notification">
    <img class="notification__img" src="{{vendor_picture}}">
    <div class="notification__text">
        Ваш заказ в магазине <b>{{vendor_name}}</b> теперь имеет статус <b>"{{order_status}}"</b>.
    </div>
    <div class="notification__close round-delete-button"></div>
</div>