<div class="regestration-page__background">
    <div class="regestration-page__input-block">
        <img class="welcome-logo" src="/img/big_logo.png"></img>
        <div class="js-login-errors text-error"></div>
        <input type="text" class="common-input js-input-login" placeholder="Логин:"></input>
        <div class="js-email-errors text-error"></div>
        <div class="js-password-errors"></div>
        <input type="password" class="common-input js-input-password" placeholder="Пароль:"></input>
        <input type="password" class="common-input js-input-password-second" placeholder="Повторите пароль:"></input>
        <button class="proceed-button js-submit-reg">Зарегистрироваться</button>
        <button class="js-to-login margin-button link info-button">Войти</button>
    </div>
</div>