<div class="product-normal"><img src="/img/question.png" id="product__img" class="product__img">
    <form  class="product__img-form">
        <input id="product__img-form" type="file" name="uploadFile" accept=".png, .jpg, .jpeg">
    </form>
    <button class="delete-button js-delete-button"></button>
        <input type="text" class="common-input js-name-input" placeholder="Название:"></input>
        <input type="text" class="common-input js-descr-input" placeholder="Описание:"></input>
        <div class="js-price-error text-error"></div>
        <input type="number" class="common-input js-price-input" placeholder="Цена:"></input>
        <div>
            <button class="proceed-button js-save-new-item bottom-center-button">Создать</button>
        </div>
</div>