<header class="header">
    <button class="js-goto-searchpage header__logo"></button>
    <div class="header__buttons">
        <button class="header__button js-bucket-button">Корзина</button>
        <button class="header__button js-profile-button">Профиль</button>
        <button class="header__button js-logout-button">Выйти</button>
    </div>
</header>