.order-cart {
    display: flex;
    flex-direction: column;
    border: 1px solid #C4C4C4;
    margin-bottom: 40px;
    flex: 1;
    max-width: 800px;
    min-width: 800px;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.order-column, .review-column{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.order-cart__header {
    border-bottom: 1px solid #C4C4C4;
    display: flex;
    padding: 10px;
    flex-direction: row;
}

.order-cart__info {
    display: flex;
    flex-direction: column;
    margin: 20px auto 20px 20px;
}

.order-cart__shop-name {
    font-style: normal;
    color: #000000;
    text-decoration: none;
    font-weight: normal;
    white-space: nowrap;
    font-size: 25px;
}

.order-cart__date {
    font-style: normal;
    font-weight: normal;
    white-space: nowrap;
    font-size: 25px;
}

.order-cart__address {
    font-style: normal;
    font-weight: normal;
    max-width: 500px;
    font-size: 25px;
}

.order-cart__resto-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px 10px 10px 10px;
    padding: 10px;
    justify-self: end;
}

.order-cart__order-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.order-list__order-item, .order-cart__total{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order-item__name,
.order-item__price,
.order-cart__total {
    font-style: normal;
    font-weight: normal;
    white-space: nowrap;
    font-size: 25px;
    margin: 10px 50px 10px 30px;
}

.order-cart__status {
    margin: 15px 15px 15px auto;
    height: 40px;
    width: 130px;
    font-size: 20px;
    border-radius: 20px;
    padding-left: 10px;
    outline: none;
}

.order-cart_buttons {
    display:flex;
    flex-direction:row;
    align-content: center;
    justify-content: end;

}

.order-cart__user-status {
    margin: 10px 15px auto auto;
    height: 40px;
    width: 130px;
    font-size: 30px;
    border-radius: 20px;
    padding-left: 10px;
    outline: none;
    color: #45d480;
    white-space: nowrap;
}