.order-cart {
    display: flex;
    flex-direction: column;
    align-self: center;
    border: 1px solid #C4C4C4;
    margin-bottom: 40px;
    width: 70%;
    border-radius: 20px;
    background-color: #FFFFFF;
}

@media screen and (max-width: 800px) {
    .order-cart {
        width: 100%;
    }
}

.order-column, .review-column{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.order-cart__header {
    border-bottom: 1px solid #C4C4C4;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    padding: 10px;
    flex-direction: row;
    font-size: 25px;
}

@media screen and (max-width: 800px) {
    .order-cart__header {
        grid-template-columns: 50% 50%;
        font-size: 20px;
    }
}

.order-cart__info {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    margin: 20px auto 20px 20px;
}

.order-cart__info-right {
    grid-column: 3;
}

@media screen and (max-width: 800px) {
    .order-cart__info-right {
    grid-column: 2;
}
}

.order-cart__shop-name {
    font-style: normal;
    color: #000000;
    text-decoration: none;
    font-weight: normal;
    white-space: nowrap;
}

.order-cart__date {
    font-style: normal;
    font-weight: normal;
    max-width: 500px;
}

.order-cart__address {
    font-style: normal;
    font-weight: normal;
    max-width: 80%;
    overflow: hidden;
    word-wrap: break-word;
}

.order-cart__resto-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px 10px 10px 10px;
    padding: 10px;
    justify-self: end;
}

.order-cart__order-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.order-list__order-item, .order-cart__total {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
}

@media screen and (max-width: 800px) {
    .order-list__order-item, .order-cart__total {
        font-size: 20px;
    }
}

.order-item__name,
.order-item__price,
.order-cart__total {
    font-style: normal;
    font-weight: normal;
    white-space: nowrap;
    margin: 10px 50px 10px 30px;
}

@media screen and (max-width: 800px) {
    .order-item__name,
.order-item__price,
.order-cart__total {
        margin: 5px 25px 5px 15px;
    }
}

.order-cart__status {
    margin: 15px 15px 15px auto;
    height: 40px;
    width: 130px;
    font-size: 20px;
    border-radius: 20px;
    padding-left: 10px;
    outline: none;
}

.order-cart_buttons {
    display:flex;
    flex-direction:row;
    align-content: center;
    justify-content: end;

}

.order-cart__user-status {
    margin: 10px 15px auto auto;
    height: 40px;
    width: 130px;
    font-size: 30px;
    border-radius: 20px;
    padding-left: 10px;
    outline: none;
    color: #45d480;
    white-space: nowrap;
}

@media screen and (max-width: 800px) {
    .order-cart__user-status {
       width: 80px;
       font-size: 20px;
    }
}