.chat {
    line-height: 1;
    margin: 0 20px 0 20px;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    border-radius: 10px;
    height: inherit;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    background-color: #ffffff;
    box-shadow: -1px 1px 5px -2px #cac6c6;
}

.chat-header {
    width: inherit;
    height: 60px;
    background-color: #6FB36F;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
    justify-content: space-between;
}

.chat-header-nickname {
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}

.chats {
    line-height: 1;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    border-radius: 10px;
    height: 100%;
    max-width: 35%;
    overflow: overlay;
    overflow-y: auto;
}

.input {
    letter-spacing: 2px;
    font-size: 16px;
    width: 80%;
    overflow: hidden;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 2px solid #cac6c6;
    outline: none;
    transition: 0.3s;
    background-color: transparent;
}

@media screen and (max-width: 500px) {
    .chat-header-nickname {
        font-size: 20px;
    }
    .chats {
        max-width: 22%;
    }
    .new-message-button {
        font-size: 15px;
    }
    .input {
        font-size: 14px;
    }
    .chat {
        margin: 0px;
    }
}

.chat-new-message {
    display: flex;
    width: inherit;
    padding: 10px;
    align-items: flex-end;
    background-color: #e5eee3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.chat-new-input {
    margin-right: 10px;
}

.chat-messages {
    line-height: 1;
    margin: 0;
    border: 0;
    flex: 1;
    font-size: 100%;
    vertical-align: baseline;
    padding: 20px 25px;
    margin-bottom: 50px;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-message {
    display: flex;
    margin-bottom: 10px;
}

.chat-message__from-user {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
}

.chat-message-text {
    padding: 6px 10px;
    max-width: 60%;
    border-radius: 7px;
    font-size: 18px;
    line-height: normal;
    background-color: #f5f5f5;
}

.chat-message-text__from-user {
    padding: 10px 10px;
    max-width: 60%;
    border-radius: 7px;
    font-size: 18px;
    line-height: normal;
    background-color: #C5EDAC;
}

.chat-message__to-user {
    padding: 10px 10px;
    max-width: 60%;
    margin-right: auto;
    border-radius: 7px;
    font-size: 18px;
    line-height: normal;
}

.chat-message-text__to-user {
    margin-right: auto;
    padding: 10px 10px;
    border-radius: 7px;
    font-size: 18px;
    line-height: normal;
    background-color: #a2e07b;
}

.chat-message__to-user {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
}

.search-wrpper {
    line-height: 1;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    margin-right: 15px;
}

.chats-items {
    line-height: 1;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    margin-top: 15px;
    margin-right: 15px;
    overflow: overlay;
}

.chats-item-avatar {
    line-height: 1;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.chats-item, .chats-item__open {
    line-height: 1;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    display: flex;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 #cac6c6;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 20px;
    cursor: pointer;
}

.chats-item {
    background-color: #C5EDAC;
}

.chats-item__open {
    background-color: #82d152;
}

.chats-view {
    line-height: 1;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    max-width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    padding: 2vh;
    background-color: #e5eee3;
    align-self: center;
    justify-self: center;
    height: 75vh;
    overflow: auto;
    overflow-x: hidden;
}

.user-chat {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: none;
    display: flex;
    max-width: 400px;
    max-height: 600px;
    line-height: 1;
    font-size: 100%;
    vertical-align: baseline;
    border-radius: 10px;
    overflow: overlay;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 10px;
    width: -webkit-fill-available;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: -1px 1px 5px -2px #cac6c6;
}

@media screen and (max-width: 700px) {
    .user-chat {
        height: 80%;
    }
}

.chats-item-nickname {
    line-height: 1;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-size: 14pt;
}

.chats-item-last-message {
    line-height: 1;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    margin-top: 15px;
}