.header__background {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    background: #0A3200;
    justify-content: space-between;
    position: absolute;   
}

.header__button {
    width: 125px;
    height: 70px;
    border: 1px solid #C4C4C4;
    background: #0A3200;
    box-sizing: border-box;
    font-size: 25px;
    line-height: 140.62%;
    color: #C4C4C4;
    margin: 0px;
}

.header__logo {
    margin: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}