.submit_button {
    height: 45px;
    width: auto;
    font-size: 28px;
    padding: 0 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    border-radius: 15px;
    border-style: none;
    border: none;
    background-color: #28a745;
    color: #ffffff;
    cursor: pointer;
}

.col-container {
    background-color: #f5fafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 2px 10px 1px #c5c5c5;
    padding: 12px 20px 20px;
}

.signup {
    margin-top: 10px;
    margin-bottom: 10px;
}

.link {
    font-size: 18px;
    color: #0f7afc;
    border-bottom-color: #0f78ff;
    text-decoration: none
}

.submit_button:hover {
    background-color: #218555;
}

.submit_button:active {
    background-color: #218555;
}

.submit_button[disabled] {
    opacity: 0.48;
    pointer-events: none;
    user-select: none;
}

.submit_button.secondary {
    background: #c5c5c5;
}

.input_text {
    height: 35px;
    font-size: 22px;
    padding: 0 10px;
    margin-bottom: 5px;
    border-width: 1px;
    border-radius: 15px;
    border: 0;
    box-shadow: 1px 2px 10px 1px #d6dad6;
    border-color: #28a745;
    outline: 0;
    margin-top: 5px;
}

.input_text[type=text] {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px #000000
}

.login_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
}

.input_forms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a:hover {
    text-decoration: underline;
}

.error {
    color: red;
}

.log_image {
    width: 320px;
    height: 320px;
    text-align: center;
    padding-bottom: 10px;
}

.registarion_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
}