.restaraunt_page {
    font-family: sans-serif;
    align-items: center;
}

.showcase {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
}

.store_label {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.store_name {
    color: #032903;
    margin-left: 30px;
    margin-bottom: 15px;
    font-size: 52px;
    font-weight: bold;
    line-height: 62px;
    text-shadow: 0px 0px 1px 1px #ffffff;
}

.store_stats {
    display: flex;
    justify-content: center;
}

.vendor_headline {
    padding-left: 40px;
}

.img_logo {
    max-width: 100%;
    width: 190px;
    height: auto;
    padding-bottom: 20px;
}

.food {
    margin-bottom: 40px;
    margin-top: 30px;
    font-weight: bold;
}

.food_img {
    max-width: 100%;
    width: 190px;
    height: auto;
    padding-bottom: 20px;
}

.store_logo {
    box-shadow: 6px 6px 2px 1px #8de2cd9a;
}

.product_descr {
    text-align: center;
    font: 30px;
}

.product {
    width: 240px;
    display: flex;
    flex-direction: column;
    background-color: #f5fafa;
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 14px;
    border-radius: 7px;
}

.product_price {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
    display: block;
}

.product:hover {
    box-shadow: 0px 1px 4px 2px #1111119a;
}

.buy_button {
    font-size: 16px;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    color: #ffffff;
    text-shadow: 1px 1px #000000;
    margin-left: 20px;
    border-width: 1px;
    border: 1px solid;
    background-color: #28a745;
}

.buy_button:focus {
    box-shadow: 0 0 0 2px #FFFFFF;
    outline: none;
    background-color: #78cc6a;
}

.info_button {
    font-size: 14px;
    height: 30px;
    width: 140px;
    background-color: #8de2cd;
    color: rgb(47, 47, 47);
    text-shadow: none;
    border-radius: 20px;
    border: none;
    margin-left: 20px;
}

.info_button:hover {
    box-shadow: 2px 0px 2px 1px #1111119a;
}

.info_button:focus {
    background-color: #c8e28d4f;
    box-shadow: 2px 0px 2px 1px #1111119a;
    outline: none;
}

.js-submit-login {
    height: 45px;
    width: auto;
    font-size: 28px;

    padding: 0 16px;
    margin-top: 10px;
    margin-bottom: 10px;

    outline: none;

    border-radius: 15px;
    border-style: none;
    border: none;
    background-color: #28a745;
    color: #ffffff;
    cursor: pointer;
}

.col-container {
    background-color: #f5fafa;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 10px;

    box-shadow: 1px 2px 10px 1px #c5c5c5;
    padding: 12px 20px 20px;
}

.signup {
    margin-top: 10px;
    margin-bottom: 10px;
}

.link {
    font-size: 18px;
    color: #0f7afc;
    border-bottom-color: rgba(15, 122, 252, 0.2);
    text-decoration:none

}

.js-submit-login:hover {
    background-color: #218555;
}

.js-submit-login:active {
    background-color: #218555;
}

.js-submit-login[disabled] {
    opacity: 0.48;
    pointer-events: none;
    user-select: none;
}

.js-submit-login.secondary {
    background: #c5c5c5;
}

.js-input-login, .js-input-password {
    height: 35px;
    font-size: 22px;
    padding: 0 10px;
    margin-bottom: 5px;

    border-width: 1px;
    border-radius: 15px;
    border:0;
    box-shadow: 1px 2px 10px 1px #d6dad6;
    border-color: #28a745;
    outline: 0;

    margin-top: 5px;
}

.js-input-login[type=text], .js-input-password[type=text] {
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  }



.login_page {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: sans-serif;

    margin-bottom: 20px;
    margin-top: 20px;
}

.input_forms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error {
    color: red;
}

.log_image {
    width: 320px;
    height: 320px;
    text-align: center;
    padding-bottom: 10px;
}

.registarion_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;

    margin-bottom: 20px;
    margin-top: 20px;
}