.profile_page_container {
    /* position */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    /* borders */
    padding: 2em;
    border: 2em;
}

.profile_page_data_container {
    /* position */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* borders */
    padding-top: 2em 2em 2em 10em;
    margin: 5em;
    background-color: var(--fifth-color);
    border-bottom-left-radius: 6em;
    border-top-right-radius: 6em;
}

.profile_page_right_column_container {
    /* position */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    flex: 1;
    /* borders */
    padding: 2em;
    border: 2em;
    background-color: var(--fifth-color);
    border-top-left-radius: 5em;
    border-bottom-right-radius: 5em;
}

.personal-info {
    margin: 2em;
    padding: 2em;
}

.widget_item_container {
    display: block;
    margin: 0.5em;
}

.profile_page_container-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.row_container {
    /* position */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* borders */
    padding: 1em;
}

.profile-personal_container_label {
    /* position */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
}

.profile-personal_switch {
    /* position */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.back_to_restaurants {
    /* position */
    align-self: baseline;
    align-content: center;
    flex: 1;
    /*  borders */
    margin-top: 1em;
    margin-left: 1em;
    background-color: var(--fifth-color);
    font-size: 2.5em;
    border-top-left-radius: 5em;
    border-bottom-right-radius: 5em;
}

.form_group {
    margin: 0.5em;
}

.form_input {
    color: #5D044C;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.4rem;
    background-color: #ffffff;
    border: none;
    width: 90%;
    display: block;
    border-bottom: 0.3rem solid transparent;
}

.backround_gradient {
    background: linear-gradient(to right, #869F7a, #A8D393, var(--fifth-color));
}