.profile-page__profile-cart {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 20px;
    align-self: center;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 5% auto 5%;
    margin-top: 20px;
    grid-column: 2;
    grid-row: 2;
}

.profile-page__content {
    grid-column: 1/-1;
    grid-row: 2;
    display: grid;
    padding: 10px;
    min-height: 500px;
    align-items: center;
    grid-template-columns: 10% 30% 50% 10%;
    grid-template-rows: 1fr;
}

@media screen and (max-width: 1500px) {
    .profile-page__content {
        grid-template-rows: 1fr auto;
        grid-template-columns: 1fr;
    }
}

.profile-page__navbar {
    width: 100%;
    height: 60px;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #C4C4C4;
    justify-self: start;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    grid-column: 1/-1;
    grid-row: 1;
}

@media screen and (max-width: 1500px) {
    .profile-page__left-column {
        grid-row: 1;
        grid-column: 2;
    }
}

.profile-page__right-column {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 3;
}

@media screen and (max-width: 1500px) {
    .profile-page__right-column {
        grid-row: 2;
        grid-column: 1;
    }
}

.add-address-block {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: inherit;
}

.img-upload-button {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-image: url("../img/avatar-logo.png");
    background-size: cover;
    position: absolute;
    cursor: pointer;
    border: none;
    bottom: 10%;
    right: 0%;
}

.img-container {
    align-self: center;
    grid-column: 2;
    position: relative;
    width: min-content;
    height: min-content;
}

@media screen and (max-width: 1500px) {
    .img-container {
        grid-row: 1;
        position: relative;
        grid-column: 1;
        justify-self: center;
    }
}

.img-upload-button:focus {
    border: 3px solid #C4C4C4;
}

.img-upload-button:focus {
    outline: none;
}

.profile-page__img {
    width: 350px;
    height: 350px;
}

@media screen and (max-width: 500px) {
    .profile-page__img {
        width: 200px;
        height: 200px;
    }
}

.profile-page__bonus-points {
    font-style: normal;
    font-weight: normal;
    white-space: nowrap;
    min-width: 270px;
    font-size: 25px;
    line-height: 140.62%;
    color: #878A86;
    margin: 15px;
}

.profile-page__navbar-button {
    cursor: pointer;
    border: none;
    white-space: nowrap;
    margin: 0px 10px 0px 10px;
    border-radius: 20px;
    background: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 140.62%;
    color: #444BCF;
}

@media screen and (max-width: 700px) {
    .profile-page__navbar-button {
        font-size: 20px;
    }
}

.profile-page__navbar-button:hover {
    outline: none;
    background: #b7dd88;
}

.profile-page__navbar-button:focus {
    outline: none;
}

.profile-page__navbar-button_focus {
    outline: none;
    background: #dd9d88;
    color: #FFFFFF;
}

.address-item {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    margin: 5px;
    align-items: center;
}

.address-item-text {
    margin: 10px 20px 10px 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 140.62%;
    word-break: break-all;
    color: #878A86;
    max-width: 80%;
}

@media screen and (max-width: 500px) {
    .address-item-text {
        font-size: 20px;
        word-break: break-all;
        white-space: normal;
    }
}

@media screen and (max-width: 500px) {
    .common-input {
        font-size: 20px;
    }
}

.round-delete-button {
    width: 24px;
    height: 24px;
    background-image: url("../img/cross.png");
    border-radius: 50%;
}

.address-delete-butoon {
    margin-left: auto;
}

.round-delete-button:hover {
    cursor: pointer;
    background-color: #F6BEAA;
}

.round-delete-button:focus {
    background-color: #F6BEAA;
}

/* Заказы */

.profile-page__order-cart, .profile-page__сoupon-cart {
    display: flex;
    flex-direction: column;
    border: 1px solid #C4C4C4;
    margin-bottom: 40px;
    flex: 1;
}

.profile-page__order-cart__header {
    border-bottom: 1px solid #C4C4C4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
    flex-direction: row;
}

.profile-page__order-cart__order-info {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-self: flex-start;
}

.profile-page__order-cart__shop-name {
    font-style: normal;
    color: #000000;
    text-decoration: none;
    font-weight: normal;
    white-space: nowrap;
    font-size: 25px;
}

.profile-page__order-cart__order-date {
    font-style: normal;
    font-weight: normal;
    white-space: nowrap;
    font-size: 25px;
}

.profile-page__order-cart__order-address {
    font-style: normal;
    font-weight: normal;
    max-width: 400px;
    font-size: 25px;
}

.profile-page__order-cart-status {
    font-size: 50px;
    color: #C5EDAC;
    margin: 10px;
    padding: 10px;
    top: 0px;
    left: 0px;
}

.profile-page__order-cart__order-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.profile-page__order-cart__order-item {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-page__order-cart__order-item-name, .profile-page__order-cart__order-item-price, .profile-page__order-cart__total {
    font-style: normal;
    font-weight: normal;
    white-space: nowrap;
    font-size: 25px;
    margin: 10px 50px 10px 30px;
}

.profile-page__сoupon-cart-text {
    font-style: normal;
    font-weight: normal;
    max-width: 500px;
    font-size: 25px;
    color: #4d4f4d;
    margin: 10px 50px 10px 30px;
    justify-self: start;
}

.profile-page__сoupon-get-button {
    justify-self: end;
    font-size: 25px;
}

.profile-page__order-cart__total {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}