.profile-page__profile-cart {
    background: #FFFFFF;
    min-width: 1000px;
    border: 3px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 20px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.profile-page__content,
.profile-page__content-column {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px;
}

.profile-page__content {
    flex-direction: row;
}

.profile-page__content-column {
    flex-direction: column;
}

.profile-page__left-column {
    padding: 15px;
    margin: 15px;
    display: flex;
    flex: 0.4;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.profile-page__right-column {
    height: 70%;
    padding: 30px 30px 30px 30px;
    margin: 15px;
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.profile-page__add-address-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 15px;
    align-self: flex-end;
}

.profile-page__img-upload-button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-image: url(../img/avatar-logo.png);
    background-size: cover;
    float: left;
    position: relative;
    top: -60px;
    left: 60px;
    border: none;
}

.profile-page__img-upload-button:focus {
    border: 3px solid #C4C4C4;
}

.profile-page__img-upload-button:focus {
    outline: none;
}
.profile-page__img {
    float: left;
    position: relative;
}

.profile-page__bonus-points {
    font-style: normal;
    font-weight: normal;
    white-space: nowrap;
    min-width: 270px;
    font-size: 25px;
    line-height: 140.62%;
    color: #878A86;
    margin: 15px;
}

.profile-page__navbar {
    width: 100%;
    height: 60px;
    padding: 10px 0px 10px 0px;
    border-bottom: 3px solid #C4C4C4;
    justify-self: start;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile-page__navbar-button {
    border: none;
    white-space: nowrap;
    margin: 0px 10px 0px 10px;
    height: 70%;
    border-radius: 20px;
    background: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 140.62%;
    color: #444BCF;
}

.profile-page__navbar-button:hover {
    outline: none;
    background: #b7dd88;
}

.profile-page__navbar-button:focus {
    outline: none;
}

.profile-page__navbar-button_focus {
    outline: none;
    background: #dd9d88;
    color: #FFFFFF;
}

.profile-page__address-item {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    margin: 5px;
    align-items: center;
}

.profile-page__address-item-text {
    margin: 10px 30px 10px 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    white-space: nowrap;
    line-height: 140.62%;
    color: #878A86;
}

.round-delete-button {
    width: 24px;
    height: 24px;
    background-image: url("../img/cross.png");
    border-radius: 50%;
}

.round-delete-button:hover {
    background-color: #F6BEAA;
}

.round-delete-button:focus {
    background-color: #F6BEAA;
}


/* Заказы */

.profile-page__order-cart,
.profile-page__сoupon-cart {
    display: flex;
    flex-direction: column;
    border: 3px solid #C4C4C4;
    margin-bottom: 40px;
    flex: 1;
}

.profile-page__order-cart__header {
    border-bottom: 3px solid #C4C4C4;
    display: flex;
    padding: 10px;
    flex-direction: row;
}

.profile-page__order-cart__order-info {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-self: flex-start;
}

.profile-page__order-cart__shop-name {
    font-style: normal;
    color: #000000;
    text-decoration: none;
    font-weight: normal;
    white-space: nowrap;
    font-size: 25px;
}

.profile-page__order-cart__order-date {
    font-style: normal;
    font-weight: normal;
    white-space: nowrap;
    font-size: 25px;
}

.profile-page__order-cart__order-address {
    font-style: normal;
    font-weight: normal;
    white-space: nowrap;
    font-size: 25px;
}

.profile-page__order-cart-resto-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    padding: 10px;
    justify-self: end;
}

.profile-page__order-cart__order-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.profile-page__order-cart__order-item {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-page__order-cart__order-item-name,
.profile-page__order-cart__order-item-price,
.profile-page__order-cart__total {
    font-style: normal;
    font-weight: normal;
    white-space: nowrap;
    font-size: 25px;
    margin: 10px 50px 10px 30px;
}

.profile-page__сoupon-cart-text {
    font-style: normal;
    font-weight: normal;
    max-width: 500px;
    font-size: 25px;
    color: #4d4f4d;
    margin: 10px 50px 10px 30px;
    justify-self: start;
}

.profile-page__сoupon-get-button {
    justify-self: end;
    font-size: 25px;
}

.profile-page__order-cart__total {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}