.restaraunt_page {
    font-family: sans-serif;
    align-items: center;
}

.showcase {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
}

.store_label {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.store_name {
    color: #032903;
    margin-left: 30px;
    margin-bottom: 15px;
    font-size: 52px;
    font-weight: bold;
    line-height: 62px;
    text-shadow: 0px 0px 1px 1px #ffffff;
}

.store_stats {
    display: flex;
    justify-content: center;
}

.vendor_headline {
    padding-left: 40px;
}

.img_logo {
    max-width: 100%;
    width: 190px;
    height: auto;
    padding-bottom: 20px;
}

.food {
    margin-bottom: 40px;
    margin-top: 30px;
    font-weight: bold;
}

.food_img {
    max-width: 100%;
    width: 190px;
    height: auto;
    padding-bottom: 20px;
}

.store_logo {
    box-shadow: 6px 6px 2px 1px #8de2cd9a;
}

.product_descr {
    text-align: center;
    font: 30px;
}

.product {
    width: 240px;
    display: flex;
    flex-direction: column;
    background-color: #f5fafa;
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 14px;
    border-radius: 7px;
}

.product_price {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
    display: block;
}

.product:hover {
    box-shadow: 0px 1px 4px 2px #1111119a;
}

.buy_button {
    font-size: 16px;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    color: #ffffff;
    text-shadow: 1px 1px #000000;
    margin-left: 20px;
    border-width: 1px;
    border: 1px solid;
    background-color: #28a745;
}

.buy_button:focus {
    box-shadow: 0 0 0 2px #FFFFFF;
    outline: none;
    background-color: #78cc6a;
}

.info_button {
    font-size: 14px;
    height: 30px;
    width: 140px;
    background-color: #8de2cd;
    color: rgb(47, 47, 47);
    text-shadow: none;
    border-radius: 20px;
    border: none;
    margin-left: 20px;
}

.info_button:hover {
    box-shadow: 2px 0px 2px 1px #1111119a;
}

.info_button:focus {
    background-color: #c8e28d4f;
    box-shadow: 2px 0px 2px 1px #1111119a;
    outline: none;
}

