.showcase {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
}

.store_label {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.store_name {
    color: rgb(3, 41, 3);
    margin-left: 30px;
    margin-bottom: 15px;
    font-size: 52px;
    font-weight: bold;
    line-height: 62px;
    text-shadow: 0px 0px 1px 1px #ffffff;
}

.store_stats {
    display: flex;
    justify-content: center;
}

.vendor_headline {
    padding-left: 40px;
}

.foodimg {
    margin-bottom: 40px;
    margin-top: 30px;
    font-weight: bold;
}

img {
    max-width: 100%;
    width: 190px;
    height: auto;
    padding-bottom: 20px;
}

.store_logo {
    box-shadow: 6px 6px 2px 1px rgba(141, 226, 205, 0.2);
}

.product_descr {
    text-align: center;
    font: 30px;
}

.product_price {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
    display: block;
}

.product {
    width: 240px;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 250, 250);
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 14px;
    border-radius: 7px;
}

button {
    font-size: 16px;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #72a368cb;
    text-shadow: 1px 1px #000000;
    margin-left: 20px;
    border-width: 1px;
}

button:focus {
    box-shadow: 0 0 0 2px #FFFFFF;
    outline: none;
    background-color: #78cc6a;
}

.info {
    font-size: 14px;
    width: 140px;
    background-color: rgba(141, 226, 205, 0.2);
    color: rgb(47, 47, 47);
    text-shadow: none;
    border-radius: 20px;
    border: none;
}

.info:hover {
    background-color: rgba(141, 226, 205, 0.2);
    box-shadow: 2px 0px 2px 1px #1111119a;
}

.info:focus {
    background-color: rgba(200, 226, 141, 0.2);
    box-shadow: 2px 0px 2px 1px #1111119a;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

.product:hover {
    box-shadow: 0px 1px 4px 2px #1111119a;
}
