.background
    display: grid
    grid-template-rows: 5% 90% 5%
    grid-template-columns: 5% 90% 5%
    background: #D7DEE5
    width: 100%
    min-width: 100%
    min-height: 100vh

.common-input
    height: 50px
    margin: 15px
    background: #FFFFFF
    border: 1px solid #878A86
    box-sizing: border-box
    padding: 10px 5px 10px 20px
    border-radius: 5px
    /* Text */
    font-style: normal
    font-weight: normal
    font-size: 25px
    line-height: 140.62%
    color: #878A86
    outline: none
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

.none
    display: none

.support-button
    color: #FFFFFF
    background: #dd9d88
    margin: 10px
    padding: 10px
    border-radius: 20px
    font-size: 25px
    border: none
    font-family: sans-serif
    width: min-content
    height: min-content
    white-space: nowrap
    cursor: pointer

.proceed-button, .info-button
    padding: 10px
    background: #305935
    border-radius: 5px
    font-size: 25px
    color: #FFFFFF
    border: none
    font-family: sans-serif
    width: min-content
    height: min-content
    white-space: nowrap
    cursor: pointer

.info-button
    font-size: 20px


    &
        background-color: #FFFFFF
        border: 1px solid #305935
        color: #305935


    &:focus, .info-button:hover, .support-button:hover
        outline: none
        background: #D5896F
        color: #FFFFFF

.proceed-button:hover
    background-color: #57963E
    color: #45A7D1

.proceed-button:active
    background-color: #57963E
    color: #45A7D1

.proceed-button:focus
    outline: none

.common-image
    background-color: #ffffff
    border-radius: 50%

.text-error
    font-size: 20px
    color: #878A86
    max-width: 350px
    margin: 15px

@media screen and (max-width: 550px)
    .proceed-button
        font-size: 20px

    .info-button
        font-size: 20px

body
    font-family: sans-serif

.common-text-area
    background: #FFFFFF
    border: 1px solid #878A86
    box-sizing: border-box
    padding: 10px 5px 10px 20px
    border-radius: 20px
    resize: none
    /* Text */
    font-style: normal
    font-weight: normal
    font-size: 25px
    line-height: 140.62%
    color: #878A86
    outline: none
    overflow: hidden
    text-overflow: ellipsis
