.my-stores-list
    display: grid
    justify-items: center
    grid-column: 2/4

@media screen and (max-width: 150px)
    .my-stores-list
        grid-column: 0

.my-store
    display: grid
    width: 70%
    grid-template-columns: 1fr 2fr
    grid-template-rows: auto auto auto
    column-gap: 20px
    border-bottom: 1px solid #C4C4C4
    margin: 10px
    padding: 10px
    align-items: center

    &__name
        font-style: normal
        font-weight: normal
        white-space: nowrap
        font-weight: bold
        font-size: 56px
        line-height: 76px
        grid-column: 2
        grid-row: 1
        margin: 0

    &__descr
        overflow: hidden
        text-overflow: ellipsis
        margin: 10px
        font-size: 20px
        line-height: 27px
        grid-column: 2
        grid-row: 2

    &__img
        width: 180px
        height: 180px
        border-radius: 50%
        margin: 10px
        grid-column: 1
        grid-row: 1/4
        object-fit: cover
        justify-self: center

    &__button
        grid-column: 2
        grid-row: 3
@media screen and (max-width: 1000px)
    .my-stores-list
        grid-column: 1/4

@media screen and (max-width: 800px)
    .my-store__name
        font-size: 8vw
@media screen and (max-width: 600px)
    .my-store__img
        width: 100px
        
        height: 100px
        grid-column: auto
        grid-row: 1

    .my-store__name
        grid-column: auto
        grid-row: 2

    .my-store__button
        grid-column: auto
        grid-row: 4

    .my-store
        width: 95%
        grid-template-columns: none
        grid-template-rows: auto auto auto auto
        justify-items: center

        &s-list
            display: grid
            justify-items: center
            grid-column: 1

        &__descr
            grid-column: auto
            overflow: hidden
            text-overflow: ellipsis
            font-size: 20px
            grid-row: 3

.new-store__input
    max-width: inherit
    height: 50px
    margin: 15px
    background: #FFFFFF
    border: 1px solid #878A86
    box-sizing: border-box
    padding: 10px 5px 10px 20px
    border-radius: 20px
    /* Text */
    font-style: normal
    font-weight: normal
    font-size: 25px
    line-height: 140.62%
    color: #878A86
    outline: none
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

.addstore__map
    width: 90%
    height: 350px
    max-width: 700px

.addstore-avatar-form
    width: 200px
